* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslategray;

  cursor: none;
}

.textStyles {
  user-select: none;

  font-size: 100%;
  color: aqua;
}

.info {
  position: absolute;
  top: 5vh;
  left: 10px;
}

.score {
  position: absolute;
  bottom: 10vh;
  right: 10px;
}

.healthBarBack {
  width: 15vw;
  height: 2vh;

  top: -30px;

  background-color: brown;

  position: absolute;
}

.healthBar {
  width: 15vw;
  height: 2vh;

  top: -30px;

  background-color: red;

  position: absolute;
}

.target {
  width: 15vw;
  height: 15vw;

  position: absolute;

  /* background-color: blue; */

  top: 40vh;
  left: 60vw;
}

img {
  user-select: none;

  pointer-events: none;
}

.LogoStyles {
  width: 100%;
  height: 100%;
}

.gun {
  display: flex;
  align-items: center;
  justify-self: center;

  user-select: none;

  width: 20px;
  height: 5px;

  position: absolute;

  color: red;
}

.pick {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  width: 5vw;
  height: 5vw;

  border-radius: 50%;
}

.picksAlignDiv {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  width: 1px;
  height: 1px;
}
